body{
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serifs;
}
.avatar{
    width: 150px;
    border-radius: 10px;
}
.card{
    width: 400px;
    justify-content: space-around;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    size: 400px;
    background-color: #ddebf8;
    border-radius: 15px;
    border-bottom: 5px solid #14213D;
    
}
.ths{
    text-align: left;
}
.fnt-clr{
    color:#2b2839;
}